*{
	margin:0;
	padding:0;
}

.wrapper{

	width:100vw;
	height:100vh;
	background-color:#481380;
}

.content h1{
text-align:center;
font-size:40px;
font-weight:600;
color:white;
position:relative;
top:20px;


}
.content input{

	position:relative;
	top:250px;
	left:440px;
	padding:20px;
	width:500px;
	border-top:none;
	border-left:none;
	border-right:none;
	background-color:transparent;
	border-bottom:2px solid-white;
	color:white;
	text-align:center;
	font-size:40px;
}
.content button{

position:relative;
	top:360px;
	left:-80px;
	padding:20px;
	width:500px;
	font-size:40px;
	color:#481380;
	font-weight:600;
	border-radius:100px;
	transition:0.5s;

}
.content button:hover{

	transform: translateY(-10px);
}
.content input,button:focus{

	outline:none;
}
/*questionStyling*/

.questionBody{
    
	width:800px;
	height:550px;
	position:relative;
	display:grid;
	grid-template-rows:60px,auto;
	top:50px;
	left:300px; 
	background-color:white;
	box-shadow:(5px 5px gray);
}
.header{

background-color:#fff;
width:800px;
height:100px;
box-shadow:0px 0px 3px gray;
z-index:1;
}
.body{
background-color:#faf4ff;
width:800px;
height:500px;

}
#welcomeHeading{

	font-size:30px;
	position:relative;
	top:20px;
	left:30px;
}
span{

	background-color:#481380;
	color:white;
	font-size:30px;
	position:relative;
	left:720px;
	top:10px;
	padding:10px;
}
.question h1{
	padding:20px;
	font-size:20px;
}
.question ul li{
	list-style-type:none;
	padding:15px;
	margin-bottom:10px;
	font-size:20px;
	background-color:white;
	width:500px;
	margin-left:30px;
	border:2px solid transparent;
	border-radius:100px;
	margin-top:20px;



}

.question ul li:hover{

	border:2px solid #481380;
	cursor:pointer;
}

#Submit{
	width:200px;
	background-color:#481380;
	color:white;
	border-radius:100px;
	font-size:20px;
	margin-top:10px;
	margin-left:50px;
	padding:10px;
	border:none;
	cursor:pointer;
}
#Submit:hover{
	background-color:white;
	color:#481380;
	box-shadow:0px 0px 5px gray; 
}
.body button{

	width:200px;
	background-color:#481380;
	color:white;
	border-radius:100px;
	font-size:20px;
	margin-top:10px;
	margin-left:30px;
	padding:10px;
	border:none;
	cursor:pointer;

}
.body button:hover{

	background-color:white;
	color:#481380;
	box-shadow:0px 0px 5px gray; 
}
.active{

	background-color:#481380 !important;
	color: white;
}

#result{

	color:white;
	font-size:40px;
	text-align:center;
	position:relative;
	top:200px;
}
#score{

	color:white;
	font-size:40px;
	text-align:center;
	position:relative;
	top:250px;
	left:40px;
}
.medal{

	color:white;
	font-size:50px;
	position:relative;
	top:150px;
	left:650px;
}
@media(max-width:890px){

.content h1{
text-align:center;
font-size:20px;
font-weight:400;
color:white;
position:relative;
top:150px;


}
.content input{

	position:relative;
	top:250px;
	left:130px;
	padding:20px;
	width:200px;
	border-top:none;
	border-left:none;
	border-right:none;
	background-color:transparent;
	border-bottom:2px solid-white;
	color:white;
	text-align:center;
	font-size:20px;
}
.content button{

position:relative;
	top:340px;
	left:-90px;
	padding:10px;
	width:200px;
	font-size:20px;
	color:#481380;
	font-weight:300;
	border-radius:100px;
	transition:0.5s;

}
.questionBody{
    
	width:400px;
	height:500px;
	position:relative;
	display:grid;
	grid-template-rows:60px,auto;
	top:20px;
	left:100px; 
	background-color:white;
	box-shadow:(5px 5px gray);
}
.header{

background-color:#fff;
width:400px;
height:50px;
box-shadow:0px 0px 3px gray;
z-index:1;
}
.body{
background-color:#faf4ff;
width:400px;
height:500px;

}
#welcomeHeading{

	font-size:20px;
	position:relative;
	top:10px;
	left:30px;
}
span{

	background-color:#481380;
	color:white;
	font-size:30px;
	position:relative;
	left:320px;
	top:-15px;
	padding:5px;
}
.question h1{
	padding:20px;
	font-size:20px;
}
.question ul li{
	list-style-type:none;
	padding:5px;
	margin-bottom:10px;
	font-size:15px;
	background-color:white;
	width:260px;
	margin-left:30px;
	border:2px solid transparent;
	border-radius:100px;
	margin-top:20px;



}

.question ul li:hover{

	border:2px solid #481380;
	cursor:pointer;
}

#Submit{
	width:150px;
	background-color:#481380;
	color:white;
	border-radius:100px;
	font-size:15px;
	margin-top:10px;
	margin-left:30px;
	padding:5px;
	border:none;
	cursor:pointer;
}
#Submit:hover{
	background-color:white;
	color:#481380;
	box-shadow:0px 0px 5px gray; 
}
.body button{

	width:150px;
	background-color:#481380;
	color:white;
	border-radius:100px;
	font-size:15px;
	margin-top:10px;
	margin-left:30px;
	padding:5px;
	border:none;
	cursor:pointer;

}
.body button:hover{

	background-color:white;
	color:#481380;
	box-shadow:0px 0px 5px gray; 
}


#result{

	color:white;
	font-size:20px;
	text-align:center;
	position:relative;
	top:200px;
}
#score{

	color:white;
	font-size:20px;
	text-align:center;
	position:relative;
	top:250px;
	left:10px;
}
.medal{

	color:white;
	font-size:20px;
	position:relative;
	top:260px;
	left:300px;
}



}
